


<h1>Stupid Coach</h1>
<h2>Ask the coach something</h2>

<form action="answer">

  <input class ="input-box" type="text" name="question">
  <input class = "submit" type="submit" value="Ask!">
</form>
